* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

:root {
    --pri-color : rgb(76, 76, 199);
}

html, body {
    height: 100%; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
}

button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: var(--pri-color);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    border-radius: 10px;
}

input {
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.541);
    border-radius: 4px;
}

button {
    border: none;
}

#app {
    width: 400px;
    height: 750px;
    /* border: 1px solid gray; */
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    border: none;
    background-color: rgb(235, 235, 235);;
    margin-right: 20px;
    overflow: hidden;
}

#insertNew {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    box-shadow: 0 5px 20px rgba(95, 95, 95, 0.493);
    /* border: 1px solid gray; */
    background-color: white;
}

#newTaskFormArea {
    position: relative;
    width: 85%;
    height: 250px;
}

#newTaskFormArea h1 {
    font-size: 1.7rem;
}

#newTaskBtn {
    position: absolute;
    bottom: 40px;
}

#newTask {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin: 20px 0;
}

#dateDayArea {
    display: flex;
    align-items: center;
}

#dateNewTask, #timeNewTask {
    display: flex;
    text-align: center;
    margin-right: 10px;
    padding: 2px 5px;
}

#asapArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#bottomFormArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#asapArea p {
    font-size: 0.8rem;
    margin-right: 10px;
}



/* TASK LISTs */


#taskList {
    width: 90%;
    /* ! remove hieght later */
    /* height: 100px; */
    margin-top: 40px;
    overflow: scroll;
    height: 58%;
}

.list-holder {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px 0;
}

#taskFinished {
    width: 15%;
}

.task-info {
    width: 65%;
    padding: 5px 0;
}

.task-name {
    margin-bottom: 10px;
    font-size: 0.85rem;
}

.date-time-area {
    display: flex;
    display: flex;
    align-items: center;
}

.date-time-area > * {
    margin-right: 15px;
    color: gray;
    font-size: 0.8rem;
    font-weight: 400;
}


.task-button {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.task-button i:nth-child(1) {
    margin-right: 10px;
}

.task-button i:nth-child(2) {
    margin-right: 20px;
}

.important {
    background-color: var(--pri-color);
    color: white;
    display: flex;
    width: max-content;
    font-size: 0.7rem;
    padding: 5px 8px;
    border-radius: 8px;
    margin-top: 10px;
}




/* complete task */

#completeList {
    width: 90%;
    /* ! remove hieght later */
    /* height: 100px; */
    margin-top: 40px;
}