* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 750px;
    width: 450px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#taskInsert {
    width: 90%;
    height: 18%;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#taskList {
    width: 90%;
    height: 38%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-list {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#doneList {
    width: 90%;
    height: 38%;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}